*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(0, 174, 255, 1) 0%, rgba(103, 131, 203, 1) 100%); */
    background: linear-gradient(90deg, rgba(0, 197, 255, 1) 0%, rgba(88, 185, 255, 1) 100%);
}

.container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}

.heading{
    font-size: 40px;
    margin-bottom: 10px;
}

form{
    display: flex;
    align-items: center;
    gap: 3px;
}

#searchCity{
    outline: none;
    font-size: 18px;
    padding: 3px 8px;
    border: none;
    border-radius: 12px;
}

.submitBtn{
    border: none;
    outline: none;
    cursor: pointer;
}

.weatherData{
    display: none;
}

.weatherData.active{
    display: block;
}

.city-flag{
    margin-top: 20px;
}

#cityName{
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
}

#showTemp{
    font-size: 45px;
    font-weight: 600;
}

#mainDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    color: black;
    flex-wrap: wrap;
}

.boxes{
    background-color: #B4BDFF;
    padding: 10px;
    width: 9rem;
}

.boxes p:nth-child(2),:nth-child(3){
    padding-top: 5px;
}


#loadingImg{
    background-color: transparent;
    display: none;
}

#loadingImg.active{
    display: block;
}

